body{
    background-color: blue;
}
table, th, td{
    border: 1px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
table{
    border-radius: 5px;
}
h1{
    text-align: center;
    color: red;
